@import "../../../scss/main.scss";

.button {
  cursor: pointer;
  font-weight: $normal-font-weight;
  border-radius: 10px;
  height: 40px;
  margin: 12px;

  &.button-primary {
    background: $cta-color;
    color: white;
  }

  &.button-secondary {
    background: pink;
  }
}
